ion-item{
  --background: #fffdfd;
  --color: rgb(3, 3, 3);
  border-radius: 10px;
  border: 1px rgb(243, 205, 205) solid;
  height: 40px;
}
ion-button{
 
margin-top: 10%;
  --background: brown;
border-radius: 100px;
color: rgb(255, 255, 255);
width: 150px;
margin-left: 20%;

 
  
}
ion-content{
  --background: rgb(246, 210, 210); 
}
ion-input{
  --placeholder-color: rgb(0, 0, 0);
  --placeholder-opacity: 1;
}
ion-toolbar{
  --background: brown;
}
.main-header{
  height: 30vh;
  width: 120%;
  background: brown;
  box-shadow: 0 1px 10px var(--ion-color-danger-brown);
  border-radius: 0 0 50% 50%;
  margin-left: -4.5vh;
  margin-top: -5px;
  margin-bottom: 5%;
}
.error{
  color: red;
}
ion-input{
  --placeholder-color: rgb(0, 0, 0);
  --placeholder-opacity: 1;
}