
    

<ion-header>  
  <ion-toolbar>  
    <ion-buttons color="white" slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
    <ion-title align="center">  
    Detail Groupe
    </ion-title>  
  </ion-toolbar>  
</ion-header>     
<ion-content >  
  <ion-card class="card">
  <ion-list  lines="none">  
     
    <ion-item  > peut donner au : <strong>{{detailGroup?.donne}}</strong> </ion-item>
    <ion-item   > Peut recevoir  : <strong>{{detailGroup?.recois}} </strong></ion-item>
    
  </ion-list>
  
</ion-card>
</ion-content>  