<ion-content class="ion-padding" scroll-y="false">
    <div>
        <img style="margin-left: 10%; margin-top: 40%;" src="../../assets/blood.gif" alt="">
    </div>
    <div class="button">
        <ion-button style="color: rgb(255, 255, 255); " fill="clear" expand="block" routerLink="/login">Connectez-Vous</ion-button> <br>
        <ion-button style="color: rgb(255, 255, 255);margin-bottom: 30%;" fill="clear" expand="block" routerLink="/register">Inscrivez-Vous</ion-button>
    </div>
    <div class="slogan" style="margin-top: 10%;">
        <p>Sauver des Vies</p>
    </div>
</ion-content>